<ion-header>
  <ion-navbar hideBackButton >  <!--done to remove back button from homepage!-->
    <ion-buttons end>
      <button ion-button icon-only (click)="onAddNew()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Address Book
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
//Load more items scroll everytime 10 items 
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <!-- <ion-list *ngIf="allAddresses.length>0"> -->
    <ion-card *ngFor="let item of allAddresses" (click)="presentActionSheet(item)">
        <p id="card_content">
          Name:{{item?.name}}<br>
          Email:{{item?.email}}<br>
          Contact:{{item?.contact}}<br>
          Calendar:{{item?.calendar}}<br>
          Date of Birth:{{item?.dateofbirth}}
        </p>  
    
      <button  ion-button icon-only color="danger" (click)="onRemoveAddress(item)">
        <ion-icon name="ios-trash-outline" ></ion-icon>
      </button>
      <button ion-button color="dark" outline medium (click)="onEdit(item)">Edit</button>

      

  </ion-card>





</ion-content>




 